.header__lang-link_ru {
  margin: 18px 18px 0 0;
  width: 30px;
  height: 29px;
  background-image: url(../../../image/header/lang-link-ru.png);
  background-repeat: no-repeat;
}

@media screen and (max-width: 752px) {
  .header__lang-link_ru {
    width: 22px;
    height: 20px;
    background-size: contain;
  }
}

@media screen and (max-width: 608px) {
  .header__lang-link_ru {
    margin-top: 14px;
  }
}
