.photo-grid {
  margin: 92px auto 0;
  padding: 0 48px;
  display: grid;
  grid-template-columns: repeat(4, calc(25% - 12px));
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
  max-width: 1184px;
}
@media screen and (max-width: 1216px) {
  .photo-grid {
    grid-template-columns: repeat(3, calc(33.33% - 9.33px));
    grid-template-rows: repeat(4, 1fr);
    gap: 14px;
  }
}
@media screen and (max-width: 1023px) {
  .photo-grid {
    padding-left: calc(18.6% - 142.32px);
    padding-right: calc(18.6% - 142.32px);
  }
}
@media screen and (max-width: 894px) {
  .photo-grid {
    padding-left: 24px;
    padding-right: 24px;
    margin-top: 88px;
    grid-template-columns: repeat(2, calc(50% - 8px));
    grid-template-rows: repeat(6, 1fr);
    gap: 16px;
  }
}
@media screen and (max-width: 752px) {
  .photo-grid {
    padding: 0 calc(5.56% - 17.78px);
  }
}
@media screen and (max-width: 608px) {
  .photo-grid {
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 64px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 12px;
  }
}
