.place__paragraph_text {
  margin: 0 0 26px 0;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  /* or 29px */
  color: #ffffff;
}
@media screen and (max-width: 900px) {
  .place__paragraph_text {
    font-size: 16px;
  }
}
@media screen and (max-width: 608px) {
  .place__paragraph_text {
    padding-right: 16px;
    padding-left: 16px;
  }
} 