.places {
    max-width: 984px;
    margin: 0 auto;
}

@media screen and (max-width: 1080px) {
    .places {
      max-width: calc(100% - 96px);
    }
  }

  @media screen and (max-width: 1023px) {
    .places {
      max-width: calc(85% + 69px);
    }
  }
  @media screen and (max-width: 793px) {
    .places {
      padding-right: 24px;
      padding-left: 24px;
      margin-left: 0;
      margin-right: 0;
    }
  } 