.header__lang-link_en {
    width: 30px;
    height: 28px;
    background-image: url(../../../../image/header/lang-link-en.png);
    background-repeat: no-repeat;
  }
  @media screen and (max-width: 752px) {
    .header__lang-link_en {
      width: 22px;
      height: 20px;
      background-size: contain;
    }
  }