.intro__list {
  font-family: "inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.5;
  color: #ffffff;
  list-style: none;
  padding: 0;
  margin: 33px 0 0;
}
