.header {
    margin: 28px auto 0;
    padding: 0 48px;
    display: flex;
    flex-direction: row;
    max-width: 1184px;
}
@media screen and (max-width: 1023px) {
    .header {
        padding-left: calc(18.6% - 142px); 
        padding-right: calc(18.6% - 142px);
    }
  }
  @media screen and (max-width: 894px) {
    .header {
      padding-left: 24px; 
      padding-right: 24px;
    }
  }
  @media screen and (max-width: 752px) {
    .header {
        padding: 0 calc(5.56% - 18px);
    }
  }
  @media screen and (max-width: 608px) {
    .header {
      padding-left: 16px;
      padding-right: 16px;
      margin-top: 16px;     
    }
  }