.lead__image {
  object-fit: cover;
  object-position: top;
  display: block;
  margin: 64px auto 0;
  max-width: 984px;
}

@media screen and (max-width: 1280px) {
  .lead__image {
    max-width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .lead__image {
    margin-top: 56px;
  }
}
