.place__website-link {
  font-family: "inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  text-transform: none;
}
.place__website-link:hover {
  opacity: 0.8;
}
