.place__website-link {
<<<<<<< HEAD:blocks/place/__website-link/place__website-link.css
  margin: 12px 0 0;
=======
  margin: 0;
>>>>>>> e1d3026473a6d334fc55fe693f9bba7e5562b17a:blocks/places/__website-link/place__website-link.css
  font-family: "inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  color: #ffffff;
  text-decoration-line: underline;
  text-transform: none;
}
.place__website-link:hover {
  opacity: 0.8;
}
