.intro {
  display: block;
  margin: 114px auto 0;
  padding: 0 294px 0 0;
  box-sizing: border-box;
  max-width: 984px;
}
/* @media screen and (max-width: 1280px) {
    .intro {
        padding-right: 238px;
    }
  }  */

@media screen and (max-width: 1024px) {
  .intro {
    padding-right: 238px;
    max-width: 928px;
  }
}
/* @media screen and (max-width: 928px) {
    .intro {
      max-width: 100%;
    }
  } */
