.overlay {
    width: 100%;
    min-height: 740px;
    background-color:rgba(42, 44, 47, 0.3);
}

.overlay:hover {
    width: 100%;
    min-height: 740px;
    background-color:rgba(42, 44, 47, 0.8);
}