.overlay {
  display: block;
  max-width: 100%;
  background-color: rgba(42, 44, 47, 0.3);
  min-height: 740px;
  text-decoration: none;
}

.overlay:hover {
  background-color: rgba(42, 44, 47, 0.8);
}
@media screen and (max-width: 1279px) {
  .overlay {
    min-height: 62.5vw;
  }
}
