.cover__title {
  max-width: 560px;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  /* or 106% */
  color: #ffffff;
  margin: 0 auto 0;
  text-align: center;
  padding-top: 245px;
}
@media screen and (max-width: 1279px) {
  .cover__title {
    padding-top: 19vw;
  }
}
@media screen and (max-width: 880px) {
  .cover__title {
    padding-top: 15vw;

  }
}
@media screen and (max-width: 660px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    padding-top: 10vw;
    max-width: 63%;
  }
}
